<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="mappers.BOMMapper">
	<resultMap id="bomView" type="bomVO">
		<result property="no" column="no" />
		<result property="itemNumber" column="itemNumber" />
		<result property="itemName" column="itemName" />
		<result property="standard" column="standard" />
		<result property="unit" column="unit" />
		<result property="precisionQuantity" column="precisionQuantity" />
		<result property="loss" column="loss" />
		<result property="actualCost" column="actualCost" />
		<result property="outSourcingUnitPrice" column="outSourcingUnitPrice" />
		<result property="startDate" column="startDate" />
		<result property="endDate" column="endDate" />
		<result property="note" column="note" />
	</resultMap>
	
	<select id="selectAllMemberList" resultMap="bomView">
		<![CDATA[select * from CPM_BIM_BOM_REG]]>
	</select>
	
	<!-- <insert id="insertMember" parameterType="memberVO">
		<![CDATA[insert into t_member(id,pwd,name,email) values(#{id}, #{pwd}, #{name}, #{email}]]>
	</insert>
	
	<update id="updateMember" parameterType="memberVO">
		<![CDATA[update t_member set pwd=#{pwd}, name=#{name}, email=#{email} where id=#{id}]]>
	</update>
	
	<delete id="deleteMember" parameterType="String">
		<![CDATA[delete from t_member where id=#{id}]]>
	</delete>
	
	<select id="loginById" resultType="memberVO" parameterType="memberVO">
		<![CDATA[select * from t_member where id=#{id} and pwd = #{pwd}]]>
	</select> -->
</mapper>